@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-button : #3EB5A2;
  --color-highlighted: #3EB5A2;
}

.gradiant-text{
  background: linear-gradient(to left, #DB3B7E, #3EB5A2 );
  background-clip: text;
  color: transparent;
}

.highlighted-text{
  color: #3EB5A2;
}


:root {
  --gap: 32px;
}

#marquee {
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.testimonial-container {
  animation: scroll 20s linear infinite;
}

#marquee:hover .testimonial-container {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}


/* nav{
  bg-[rgba(244,242,242,0.85)] dark:bg-[rgba(8,_8,_8,_0.2)] border-b border-gray-950/[.1] dark:border-gray-50/[.1]
} */

